pytest
pytest-cov
pytest-timeout>=2.2
black==24.4.2
flake8==7.1.0
numpy>=1.26
isort==5.13.2
pre-commit==4.5.1
fastapi
python-multipart
httpx
jsonschema
uvicorn
python-dotenv
boto3
mypy
types-requests
bandit
pip-audit
prometheus-client
trio
