<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="com.golfiq.bench.BenchApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_camera"
        android:label="GolfIQ Bench"
        android:theme="@style/Theme.GolfIQBench">
        <activity
            android:name="com.golfiq.bench.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
